transition arguments,
column-count() {
  -webkit-column-count: arguments;
  -moz-column-count: arguments;
  column-count: arguments;
}
-ms-transform arguments,
-webkit-transform arguments,
transform arguments,
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font: 400 16px/1.5 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #141414;
}
#hero-wrapper {
  width: 100%;
  min-height: 300px;
  background-color: #242424;
  -webkit-transition: height 1s ease-in;
  overflow: hidden;
}
.hero-image {
  width: 50%;
  position: relative;
  display: block;
  height: 100%;
  float: left;
  overflow: hidden;
  -webkit-transition: background-size 1s ease-in-out;
}
#hero1 {
  background: url("img/training_desaturated.jpg") no-repeat;
}
#hero1.over {
  background: url("img/training.jpg") no-repeat;
}
#hero2 {
  background: url("img/marketing_desaturated.jpg") no-repeat;
}
#hero2.over {
  background: url("img/marketing.jpg") no-repeat;
}
#hero2,
#hero1 {
  background-size: auto 110%;
  background-position: center;
}
#hero2.over,
#hero1.over {
  background-size: auto 100%;
  background-position: center;
}
.hero-link {
  margin: 60% 0 0 40%;
  width: 30%;
  height: 20%;
  background-color: rgba(0,10,20,0.4);
  border: 2px solid #fff;
}
.hero-link a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  text-align: center;
  vertical-align: middle;
  text-size: 24px;
}
.hero-link a:hover {
  opacity: 0.5;
}
.hero-link a:before {
  content: "";
  height: 35%;
  width: 100%;
  display: block;
  pointer-events: none;
}
#content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
#content.filled {
  max-height: 20000px;
  margin: 40px auto;
  opacity: 1;
}
#footer {
  padding: 40px;
  padding-top: 60px;
  background-color: #242424;
  color: #fff;
  font-size: 12px;
}
#footer h1 {
  font: 600 20px/0.8 'Open Sans', sans-serif;
}
.three-col {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.fullpage {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: auto;
}
#nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
}
#nav .down {
  background-color: #fff;
}
#menu-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  height: 35px;
  font-size: 1em;
  clear: none;
  width: 66px;
  border-radius: 9px;
  z-index: 999;
}
#menu-btn:hover {
  box-shadow: inset 0 2px 3px #222;
  border-color: #222;
}
input[type=button] {
  background-color: #fff;
  border: 1px solid #9daca9;
  border-radius: 4px;
  font: inherit;
  letter-spacing: inherit;
  text-indent: inherit;
  color: inherit;
}
#logo {
  z-index: 10;
  position: fixed;
  background: url("img/logo.svg")/100% 100% no-repeat;
  float: left;
  height: 73px;
  margin: 150px 0 0 6.13307%;
  width: 6.603081%;
}
video,
#hero-slider {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
